img {
    position: relative;
    z-index: 100;
}

h2 {
    position: relative;
    z-index: 100;
}

p {
    position: relative;
    z-index: 100;
}

h3 {
    position: relative;
    z-index: 100;
}

.carousel-indicators {
    position: relative;
    z-index: 100;
}
